force-app/main/default/flows/litepaeOffsessionCharge.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>ChargeCustomer</name>
        <label>ChargeCustomer</label>
        <locationX>182</locationX>
        <locationY>758</locationY>
        <actionName>lite_pae__ChargeCustomerAction</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>IfActionSuccess</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>Amount</name>
            <value>
                <numberValue>9099.0</numberValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>PaymentAccountId</name>
            <value>
                <elementReference>paymentRecordId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>CustomerId</name>
            <value>
                <elementReference>Get_Customer_Id_From_SF.Stripe_Customer_Id__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>PaymentMethodId</name>
            <value>
                <elementReference>SelectedPaymentMethodId</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>56.0</apiVersion>
    <assignments>
        <name>Assign_Record_Id_input_to_RecordID_Variable</name>
        <label>Assign Record Id input to RecordID Variable</label>
        <locationX>182</locationX>
        <locationY>398</locationY>
        <assignmentItems>
            <assignToReference>RecordId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Record_Id_Source_object</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Customer_Id_From_SF</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>IfActionSuccess</name>
        <label>IfActionSuccess</label>
        <locationX>182</locationX>
        <locationY>878</locationY>
        <defaultConnector>
            <targetReference>faultStep</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Is_Action_Result_is_Success</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ChargeCustomer.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>success</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>finalscreen</targetReference>
            </connector>
            <label>Is Action Result is Success</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>litepaeOffsessionCharge {!$Flow.CurrentDateTime}</interviewLabel>
    <label>litepaeOffsessionCharge</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_Customer_Id_From_SF</name>
        <label>Get Customer Id From SF</label>
        <locationX>182</locationX>
        <locationY>518</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>PaymentMethods</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>RecordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Stripe_Customer_Id__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Payment_Record</name>
        <label>Get Payment Record</label>
        <locationX>182</locationX>
        <locationY>158</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Provide_Record_Information</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>lite_pae__Is_Production__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>lite_pae__Payment_Account__c</object>
        <outputAssignments>
            <assignToReference>paymentRecordId</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <screens>
        <name>faultStep</name>
        <label>faultStep</label>
        <locationX>314</locationX>
        <locationY>998</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>errorScreen</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;b&gt;Something went wrong. &lt;/b&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;b&gt;Please contact support team.&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>finalscreen</name>
        <label>finalscreen</label>
        <locationX>50</locationX>
        <locationY>998</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>FinalResult</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong&gt;Thank you for your payment.&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>PaymentMethods</name>
        <label>PaymentMethods</label>
        <locationX>182</locationX>
        <locationY>638</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>ChargeCustomer</targetReference>
        </connector>
        <fields>
            <name>paymentMethod</name>
            <extensionName>lite_pae:paymentMethodManagement</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>paymentAccountId</name>
                <value>
                    <elementReference>paymentRecordId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>customerId</name>
                <value>
                    <elementReference>Get_Customer_Id_From_SF.Stripe_Customer_Id__c</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>allowSelect</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>allowEdit</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>allowNew</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>SelectedPaymentMethodId</assignToReference>
                <name>selectedPaymentMethodId</name>
            </outputParameters>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Provide_Record_Information</name>
        <label>Provide Record Information</label>
        <locationX>182</locationX>
        <locationY>278</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Assign_Record_Id_input_to_RecordID_Variable</targetReference>
        </connector>
        <fields>
            <name>Record_Id_Source_object</name>
            <dataType>String</dataType>
            <fieldText>Record Id (Id of Source object where Stripe Customer Id field exist)</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Payment_Record</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>paymentRecordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>RecordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SelectedPaymentMethodId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
