force-app/main/default/flows/Lite_Pae_Subscription_with_PriceId_CustomerProfile_And_PaymentMethods.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <description>Creates subscription in Stripe</description>
        <name>Create_a_Subscription</name>
        <label>Create a Subscription</label>
        <locationX>446</locationX>
        <locationY>782</locationY>
        <actionName>lite_pae__CreateSubscriptionAction</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Is_Subscription_request_processed_successfully</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>CustomerId</name>
            <value>
                <elementReference>StripeCustomerId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>PaymentAccountId</name>
            <value>
                <elementReference>paymentRecordId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>PaymentMethodId</name>
            <value>
                <elementReference>paymentMethodId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>PriceId</name>
            <value>
                <elementReference>SubscriptionPriceId</elementReference>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>CreateSubscriptionResultErrorMessage</assignToReference>
            <name>ErrorMessage</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>CreateSubscriptionResultJSON</assignToReference>
            <name>ResultInJSON</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>CreateSubscriptionResultStatus</assignToReference>
            <name>Status</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>CreateSubscriptionResultSubscriptionId</assignToReference>
            <name>SubscriptionId</name>
        </outputParameters>
    </actionCalls>
    <apiVersion>54.0</apiVersion>
    <assignments>
        <name>Set_Subscription_Variables</name>
        <label>Set Subscription Variables</label>
        <locationX>248</locationX>
        <locationY>350</locationY>
        <assignmentItems>
            <assignToReference>SubscriptionPriceId</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>price_1OjhfaCWc6SIxGVvhmri1KtZ</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Stripe_Customer_Id</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_If_Stripe_Field_is_populated</name>
        <label>Check If Stripe Field is populated</label>
        <locationX>248</locationX>
        <locationY>566</locationY>
        <defaultConnector>
            <targetReference>Payment_Method_List</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Stripe_Field_is_not_populated</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>StripeCustomerId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>customerProfileScreen</targetReference>
            </connector>
            <label>Stripe Field is not populated</label>
        </rules>
    </decisions>
    <decisions>
        <name>Found_Payment_Account_By_Name</name>
        <label>Found Payment Account By Name?</label>
        <locationX>545</locationX>
        <locationY>242</locationY>
        <defaultConnector>
            <targetReference>Payment_Account_Not_Found_Screen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_Found_Payment_Account_By_Name</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>paymentRecordId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Subscription_Variables</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Subscription_request_processed_successfully</name>
        <label>Is Subscription request processed successfully?</label>
        <locationX>446</locationX>
        <locationY>890</locationY>
        <defaultConnector>
            <targetReference>Final_Screen_Error</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_Is_Subscription_request_processed_successfully</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CreateSubscriptionResultStatus</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>success</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Final_Screen_Success</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <description>Flow with 3 components. Customer Profile, Payment Methods and Create a Subscription action.</description>
    <environments>Default</environments>
    <interviewLabel>Lite Pae - Subscription with PriceId, CustomerProfile And PaymentMethods {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Lite Pae - Subscription with PriceId, CustomerProfile And PaymentMethods</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <description>Get Payment record and set its id to paymentRecordId variable</description>
        <name>Get_Payment_Record</name>
        <label>Get Payment Record</label>
        <locationX>545</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Found_Payment_Account_By_Name</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>US Test</stringValue>
            </value>
        </filters>
        <object>lite_pae__Payment_Account__c</object>
        <outputAssignments>
            <assignToReference>paymentRecordId</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_Stripe_Customer_Id</name>
        <label>Get Stripe Customer Id</label>
        <locationX>248</locationX>
        <locationY>458</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_If_Stripe_Field_is_populated</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <object>Contact</object>
        <outputAssignments>
            <assignToReference>StripeCustomerId</assignToReference>
            <field>Stripe_Customer_Id__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Query_again_Stripe_Customer_Id</name>
        <label>Query again - Stripe Customer Id</label>
        <locationX>50</locationX>
        <locationY>782</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Check_If_Stripe_Field_is_populated</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <object>Contact</object>
        <outputAssignments>
            <assignToReference>StripeCustomerId</assignToReference>
            <field>Stripe_Customer_Id__c</field>
        </outputAssignments>
    </recordLookups>
    <screens>
        <name>customerProfileScreen</name>
        <label>customerProfileScreen</label>
        <locationX>50</locationX>
        <locationY>674</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Query_again_Stripe_Customer_Id</targetReference>
        </connector>
        <fields>
            <name>customerProfile</name>
            <extensionName>lite_pae:customerProfile</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>fieldNameToMapCustomerId</name>
                <value>
                    <stringValue>Stripe_Customer_Id__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordIdOfCustomerId</name>
                <value>
                    <elementReference>recordId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>paymentAccountId</name>
                <value>
                    <elementReference>paymentRecordId</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Final_Screen_Error</name>
        <label>Final Screen Error</label>
        <locationX>578</locationX>
        <locationY>998</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>FInalResultError</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;Something went wrong while processing the request.&lt;/span&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;{!CreateSubscriptionResultErrorMessage}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Final_Screen_Success</name>
        <label>Final Screen Success</label>
        <locationX>314</locationX>
        <locationY>998</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>FInalResultSuccess</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;Your request is processed successfully.&lt;/span&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;Here&apos;s your subscription id: {!CreateSubscriptionResultSubscriptionId}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Payment_Account_Not_Found_Screen</name>
        <label>Payment Account Not Found Screen</label>
        <locationX>842</locationX>
        <locationY>350</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Payment_Account_Not_Found_Message</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;Lite Pae payment account configuration not found. Please contact your administrator.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Payment_Method_List</name>
        <label>Payment Method List</label>
        <locationX>446</locationX>
        <locationY>674</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Create_a_Subscription</targetReference>
        </connector>
        <fields>
            <name>Paymentmethods</name>
            <extensionName>lite_pae:paymentMethodManagement</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>paymentAccountId</name>
                <value>
                    <elementReference>paymentRecordId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>customerId</name>
                <value>
                    <elementReference>StripeCustomerId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>allowNew</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>title</name>
                <value>
                    <stringValue>Payment methods</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>allowSelect</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>paymentMethodId</assignToReference>
                <name>selectedPaymentMethodId</name>
            </outputParameters>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>419</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Payment_Record</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>CreateSubscriptionResultErrorMessage</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>CreateSubscriptionResultJSON</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>CreateSubscriptionResultStatus</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>CreateSubscriptionResultSubscriptionId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>paymentMethodId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>paymentRecordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Record id to pull Stripe Customer field from (should be of type object based on Field mapping)</description>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>StripeCustomerId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Stripe Product Price Id.</description>
        <name>SubscriptionPriceId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
