force-app/main/default/flows/Lite_Pae_Send_an_Invoice.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Create_an_Invoice</name>
        <label>Create an Invoice</label>
        <locationX>336</locationX>
        <locationY>2114</locationY>
        <actionName>lite_pae__CreateInvoiceAction</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Is_Invoice_request_processed_successfully</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>CustomerId</name>
            <value>
                <elementReference>StripeCustomerId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>DaysUntilDue</name>
            <value>
                <elementReference>DaysUntilInvoiceDue</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>Description</name>
            <value>
                <elementReference>InvoiceDescription</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>ItemDescription</name>
            <value>
                <elementReference>InvoiceItemDescription</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>PaymentAccountId</name>
            <value>
                <elementReference>paymentRecordId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>Quantity</name>
            <value>
                <elementReference>InvoiceItemQuantity</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>UnitAmount</name>
            <value>
                <elementReference>InvoiceItemAmountInCents</elementReference>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>CreateInvoiceResultErrorMessage</assignToReference>
            <name>ErrorMessage</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>CreateInvoiceResultHostedInvoiceUrl</assignToReference>
            <name>HostedInvoiceUrl</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>CreateInvoiceResultInvoiceId</assignToReference>
            <name>InvoiceId</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>CreateInvoiceResultStatus</assignToReference>
            <name>Status</name>
        </outputParameters>
    </actionCalls>
    <actionCalls>
        <name>Search_Customer</name>
        <label>Search Customer</label>
        <locationX>490</locationX>
        <locationY>1514</locationY>
        <actionName>lite_pae__SearchCustomerAction</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Is_Stripe_Customer_Id_populated_after_search</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>CreateIfNotFound</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>CustomerEmail</name>
            <value>
                <elementReference>CustomerEmail</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>CustomerName</name>
        </inputParameters>
        <inputParameters>
            <name>PaymentAccountId</name>
            <value>
                <elementReference>paymentRecordId</elementReference>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>StripeCustomerId</assignToReference>
            <name>CustomerId</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>SearchCustomerResultErrorMessage</assignToReference>
            <name>ErrorMessage</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>SearchCustomerResultStatus</assignToReference>
            <name>Status</name>
        </outputParameters>
    </actionCalls>
    <apiVersion>54.0</apiVersion>
    <assignments>
        <name>Set_a_new_Stripe_Customer_is_created</name>
        <label>Set a new Stripe Customer is created</label>
        <locationX>358</locationX>
        <locationY>1730</locationY>
        <assignmentItems>
            <assignToReference>NewStripeCustomerCreated</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_an_Invoice</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Invoice_Variables</name>
        <label>Set Invoice Variables</label>
        <locationX>880</locationX>
        <locationY>350</locationY>
        <assignmentItems>
            <assignToReference>DaysUntilInvoiceDue</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>30.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>InvoiceDescription</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Lite Pae Invoice Description</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>InvoiceItemAmountInCents</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>InvoiceItemDescription</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Lite Pae Item Description</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>InvoiceItemQuantity</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>orderRecordId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Is_order_record_Id_provided</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Order_Info_to_Variables</name>
        <label>Set Order Info to Variables</label>
        <locationX>611</locationX>
        <locationY>1082</locationY>
        <assignmentItems>
            <assignToReference>InvoiceItemAmountInCents</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>OrderTotalAmountInCents</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Customer_Info_from_related_Contact</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Record_Id_from_Input</name>
        <label>Set Record Id from Input</label>
        <locationX>968</locationX>
        <locationY>674</locationY>
        <assignmentItems>
            <assignToReference>orderRecordId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>txtOrder_Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Order_Details</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Found_Payment_Account_By_Name</name>
        <label>Found Payment Account By Name?</label>
        <locationX>1147</locationX>
        <locationY>242</locationY>
        <defaultConnector>
            <targetReference>Payment_Account_Not_Found_Screen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_Found_Payment_Account_By_Name</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>paymentRecordId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Invoice_Variables</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Customer_Id_Populated</name>
        <label>Is Customer Id Populated?</label>
        <locationX>336</locationX>
        <locationY>1406</locationY>
        <defaultConnector>
            <targetReference>Search_Customer</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_Is_Customer_Id_Populated</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>StripeCustomerId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_an_Invoice</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Customer_Info_Valid</name>
        <label>Is Customer Info Valid?</label>
        <locationX>611</locationX>
        <locationY>1298</locationY>
        <defaultConnector>
            <targetReference>Customer_Info_Not_Valid_Step</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_Is_Customer_Info_Valid</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>CustomerEmail</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>StripeCustomerId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Is_Customer_Id_Populated</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Invoice_request_processed_successfully</name>
        <label>Is Invoice request processed successfully?</label>
        <locationX>336</locationX>
        <locationY>2222</locationY>
        <defaultConnector>
            <targetReference>Invoice_Create_Error_Screen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_Is_Invoice_request_processed_successfully</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CreateInvoiceResultStatus</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>success</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Is_new_Stripe_customer_created</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_new_Stripe_customer_created</name>
        <label>Is new Stripe customer created?</label>
        <locationX>182</locationX>
        <locationY>2330</locationY>
        <defaultConnector>
            <targetReference>Update_Order_with_new_invoice_id</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_Is_new_Stripe_customer_created</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>NewStripeCustomerCreated</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Stripe_Customer_Id_on_Contact</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_order_record_Id_provided</name>
        <label>Is order record Id provided?</label>
        <locationX>880</locationX>
        <locationY>458</locationY>
        <defaultConnector>
            <targetReference>OrderScreen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_Is_Order_Provided</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>orderRecordId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Order_Details</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Stripe_Customer_Id_populated_after_search</name>
        <label>Is Stripe Customer Id populated after search?</label>
        <locationX>490</locationX>
        <locationY>1622</locationY>
        <defaultConnector>
            <targetReference>Search_Customer_Error_Screen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_Is_Stripe_Customer_Id_still_not_populated</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>StripeCustomerId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_a_new_Stripe_Customer_is_created</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Order_Exists</name>
        <label>Order Exists?</label>
        <locationX>880</locationX>
        <locationY>974</locationY>
        <defaultConnector>
            <targetReference>Order_Not_Exist_Screen_Step</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_Order_Exists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>OrderRecord.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Order_Info_to_Variables</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>OrderTotalAmountInCents</name>
        <dataType>Number</dataType>
        <expression>{!OrderRecord.TotalAmount} * 100</expression>
        <scale>0</scale>
    </formulas>
    <interviewLabel>Lite Pae - Send an Invoice {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Lite Pae - Send an Invoice</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_Customer_Info_from_related_Contact</name>
        <label>Get Customer Info from related Contact</label>
        <locationX>611</locationX>
        <locationY>1190</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Is_Customer_Info_Valid</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>OrderRecord.CustomerAuthorizedById</elementReference>
            </value>
        </filters>
        <filters>
            <field>Email</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>Contact</object>
        <outputAssignments>
            <assignToReference>CustomerEmail</assignToReference>
            <field>Email</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>ContactId</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>StripeCustomerId</assignToReference>
            <field>Stripe_Customer_Id__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_Order_Details</name>
        <label>Get Order Details</label>
        <locationX>880</locationX>
        <locationY>866</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Order_Exists</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>orderRecordId</elementReference>
            </value>
        </filters>
        <object>Order</object>
        <outputReference>OrderRecord</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>TotalAmount</queriedFields>
        <queriedFields>CustomerAuthorizedById</queriedFields>
    </recordLookups>
    <recordLookups>
        <description>Get Payment record and set its id to paymentRecordId variable</description>
        <name>Get_Payment_Record</name>
        <label>Get Payment Record</label>
        <locationX>1147</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Found_Payment_Account_By_Name</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>US Test</stringValue>
            </value>
        </filters>
        <object>lite_pae__Payment_Account__c</object>
        <outputAssignments>
            <assignToReference>paymentRecordId</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordUpdates>
        <name>Update_Order_with_new_invoice_id</name>
        <label>Update Order with new invoice id</label>
        <locationX>182</locationX>
        <locationY>2630</locationY>
        <connector>
            <targetReference>Invoice_Create_Success_Screen</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>orderRecordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Stripe_Invoice_Id__c</field>
            <value>
                <elementReference>CreateInvoiceResultInvoiceId</elementReference>
            </value>
        </inputAssignments>
        <object>Order</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Stripe_Customer_Id_on_Contact</name>
        <label>Update Stripe Customer Id on Contact</label>
        <locationX>50</locationX>
        <locationY>2438</locationY>
        <connector>
            <targetReference>Update_Order_with_new_invoice_id</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ContactId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Stripe_Customer_Id__c</field>
            <value>
                <elementReference>StripeCustomerId</elementReference>
            </value>
        </inputAssignments>
        <object>Contact</object>
    </recordUpdates>
    <screens>
        <name>Customer_Info_Not_Valid_Step</name>
        <label>Customer Info Not Valid Step</label>
        <locationX>886</locationX>
        <locationY>1406</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>customerInfoNotvalidDisplay</name>
            <fieldText>&lt;p&gt;To process request we need either Customer email or Customer Id.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Invoice_Create_Error_Screen</name>
        <label>Invoice Create Error Screen</label>
        <locationX>490</locationX>
        <locationY>2330</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>InvoiceCreateErrorScreenDisplay</name>
            <fieldText>&lt;p&gt;Something went wrong while processing the invoice request. {!CreateInvoiceResultErrorMessage}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Invoice_Create_Success_Screen</name>
        <label>Invoice Create Success Screen</label>
        <locationX>182</locationX>
        <locationY>2738</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>InvoiceCreateSuccessScreenDisplay</name>
            <fieldText>&lt;p&gt;Here&apos;s the new &lt;a href=&quot;{!CreateInvoiceResultHostedInvoiceUrl}&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;invoice link&lt;/a&gt;. Invoice id ({!CreateInvoiceResultInvoiceId})&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Order_Not_Exist_Screen_Step</name>
        <label>Order Not Exist Screen Step</label>
        <locationX>1150</locationX>
        <locationY>1082</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>OrderNotExistScreenStepDisplay</name>
            <fieldText>&lt;p&gt;Order record not found with Id {!orderRecordId}.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>OrderScreen</name>
        <label>OrderScreen</label>
        <locationX>968</locationX>
        <locationY>566</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Set_Record_Id_from_Input</targetReference>
        </connector>
        <fields>
            <name>txtOrder_Id</name>
            <dataType>String</dataType>
            <fieldText>Order Id</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Payment_Account_Not_Found_Screen</name>
        <label>Payment Account Not Found Screen</label>
        <locationX>1414</locationX>
        <locationY>350</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Payment_Account_Not_Found_Message</name>
            <fieldText>&lt;p&gt;Lite Pae payment account configuration not found. Please contact your administrator.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Search_Customer_Error_Screen</name>
        <label>Search Customer Error Screen</label>
        <locationX>622</locationX>
        <locationY>1730</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>SearchCustomerErrorScreenDisplay</name>
            <fieldText>&lt;p&gt;Something went wrong while retrieving the customer information. {!SearchCustomerResultErrorMessage}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>1021</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Payment_Record</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>ContactId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>CreateInvoiceResultErrorMessage</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>CreateInvoiceResultHostedInvoiceUrl</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>CreateInvoiceResultInvoiceId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>CreateInvoiceResultStatus</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>CustomerEmail</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>DaysUntilInvoiceDue</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>InvoiceDescription</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>InvoiceItemAmountInCents</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>InvoiceItemDescription</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>InvoiceItemQuantity</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>1.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>NewStripeCustomerCreated</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>OrderRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Order</objectType>
    </variables>
    <variables>
        <name>orderRecordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>paymentRecordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SearchCustomerResultErrorMessage</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SearchCustomerResultStatus</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>StripeCustomerId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
