force-app/main/default/flows/litepaeCustomerWithPaymentMethodsAndCharge.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>ChargeCustomer</name>
        <label>ChargeCustomer</label>
        <locationX>314</locationX>
        <locationY>758</locationY>
        <actionName>lite_pae__ChargeCustomerAction</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Final_Screen</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>Amount</name>
            <value>
                <elementReference>AmountToBeChargedInCents</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>PaymentAccountId</name>
            <value>
                <elementReference>paymentRecordId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>SaveToSalesforce</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>CustomerId</name>
            <value>
                <elementReference>StripeCustomerId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>PaymentMethodId</name>
            <value>
                <elementReference>Paymentmethods.selectedPaymentMethodId</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>54.0</apiVersion>
    <assignments>
        <name>Set_Amount_to_be_charged</name>
        <label>Set Amount to be charged</label>
        <locationX>314</locationX>
        <locationY>638</locationY>
        <assignmentItems>
            <assignToReference>AmountToBeChargedInCents</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>9990.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>ChargeCustomer</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_If_Stripe_Field_is_populated</name>
        <label>Check If Stripe Field is populated</label>
        <locationX>182</locationX>
        <locationY>398</locationY>
        <defaultConnector>
            <targetReference>Payment_Method_List</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Stripe_Field_is_not_populated</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>StripeCustomerId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>customerProfileScreen</targetReference>
            </connector>
            <label>Stripe Field is not populated</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>litepaeCustomerWithPaymentMethodsAndCharge {!$Flow.CurrentDateTime}</interviewLabel>
    <label>litepaeCustomerWithPaymentMethodsAndCharge</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <description>Get Payment record and set its id to paymentRecordId variable</description>
        <name>Get_Payment_Record</name>
        <label>Get Payment Record</label>
        <locationX>182</locationX>
        <locationY>158</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Stripe_Customer_Id</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>lite_pae__Is_Production__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>lite_pae__Payment_Account__c</object>
        <outputAssignments>
            <assignToReference>paymentRecordId</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_Stripe_Customer_Id</name>
        <label>Get Stripe Customer Id</label>
        <locationX>182</locationX>
        <locationY>278</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_If_Stripe_Field_is_populated</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>RecordId</elementReference>
            </value>
        </filters>
        <object>Contact</object>
        <outputAssignments>
            <assignToReference>StripeCustomerId</assignToReference>
            <field>Stripe_Customer_Id__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Query_again_Stripe_Customer_Id</name>
        <label>Query again - Stripe Customer Id</label>
        <locationX>50</locationX>
        <locationY>638</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Check_If_Stripe_Field_is_populated</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>RecordId</elementReference>
            </value>
        </filters>
        <object>Contact</object>
        <outputAssignments>
            <assignToReference>StripeCustomerId</assignToReference>
            <field>Stripe_Customer_Id__c</field>
        </outputAssignments>
    </recordLookups>
    <screens>
        <name>customerProfileScreen</name>
        <label>customerProfileScreen</label>
        <locationX>50</locationX>
        <locationY>518</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Query_again_Stripe_Customer_Id</targetReference>
        </connector>
        <fields>
            <name>customerProfile</name>
            <extensionName>lite_pae:customerProfile</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>fieldNameToMapCustomerId</name>
                <value>
                    <stringValue>Stripe_Customer_Id__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordIdOfCustomerId</name>
                <value>
                    <elementReference>RecordId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>paymentAccountId</name>
                <value>
                    <elementReference>paymentRecordId</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Final_Screen</name>
        <label>Final Screen</label>
        <locationX>314</locationX>
        <locationY>878</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>FInalResult</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 20px;&quot;&gt;Thank you for your submission.&lt;/span&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong&gt;Payment process result: {!ChargeCustomer.Status}&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Payment_Method_List</name>
        <label>Payment Method List</label>
        <locationX>314</locationX>
        <locationY>518</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Set_Amount_to_be_charged</targetReference>
        </connector>
        <fields>
            <name>Paymentmethods</name>
            <extensionName>lite_pae:paymentMethodManagement</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>paymentAccountId</name>
                <value>
                    <elementReference>paymentRecordId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>customerId</name>
                <value>
                    <elementReference>StripeCustomerId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>allowNew</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>title</name>
                <value>
                    <stringValue>Payment methods</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>allowSelect</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Payment_Record</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>AmountToBeChargedInCents</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>paymentRecordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>Record id to pull Stripe Customer field from (should be of type object based on Field mapping)</description>
        <name>RecordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>StripeCustomerId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
