force-app/main/default/flows/Lite_Pae_in_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>55.0</apiVersion>
    <choices>
        <name>BasePlan</name>
        <choiceText>&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;Base Plan ($49.00)&lt;/span&gt;</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>4900.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>ProPlan</name>
        <choiceText>&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;Pro Plan ($125)&lt;/span&gt;</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>12500.0</numberValue>
        </value>
    </choices>
    <environments>Default</environments>
    <interviewLabel>Lite Pae in Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Lite Pae in Flow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_Payment_record</name>
        <label>Get Payment record</label>
        <locationX>176</locationX>
        <locationY>158</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Select_Plan</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>litepae__Secret_Key__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>litepae__Payment_Account__c</object>
        <outputAssignments>
            <assignToReference>paymentRecordId</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <screens>
        <name>Payment</name>
        <label>Payment</label>
        <locationX>176</locationX>
        <locationY>398</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Summary</targetReference>
        </connector>
        <fields>
            <name>litepae</name>
            <extensionName>litepae:litePaeForFlow</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>amountToBeCharged</name>
                <value>
                    <elementReference>Pricing_Plan</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>paymentAccountRecId</name>
                <value>
                    <elementReference>paymentRecordId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>buttonLabel</name>
                <value>
                    <stringValue>Next</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>transactionId</assignToReference>
                <name>transactionId</name>
            </outputParameters>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Select_Plan</name>
        <label>Select Plan</label>
        <locationX>176</locationX>
        <locationY>278</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Payment</targetReference>
        </connector>
        <fields>
            <name>Pricing_Plan</name>
            <choiceReferences>BasePlan</choiceReferences>
            <choiceReferences>ProPlan</choiceReferences>
            <dataType>Number</dataType>
            <fieldText>Pricing Plan</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
            <scale>0</scale>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Summary</name>
        <label>Summary</label>
        <locationX>176</locationX>
        <locationY>518</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Summary_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Summary_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>ErrorMessage</name>
                    <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 18px;&quot;&gt;Something went wrong with payment. Please contact us.&lt;span class=&quot;ql-cursor&quot;&gt;﻿&lt;/span&gt;&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>transactionId</leftValueReference>
                    <operator>IsNull</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Summary_Section2</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Summary_Section2_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>successMessage</name>
                    <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 18px;&quot;&gt;Thank you for the payment.&lt;/span&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 18px;&quot;&gt;Here&apos;s the transaction id: {!transactionId}&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>transactionId</leftValueReference>
                    <operator>IsNull</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Payment_record</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>paymentRecordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>transactionId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
