force-app/main/default/flows/litepaeCustomer.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>54.0</apiVersion>
    <environments>Default</environments>
    <interviewLabel>litepaeCustomer {!$Flow.CurrentDateTime}</interviewLabel>
    <label>litepaeCustomer</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <description>Get Payment record and set its id to paymentRecordId variable</description>
        <name>Get_Payment_Record</name>
        <label>Get Payment Record</label>
        <locationX>176</locationX>
        <locationY>158</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Checkout</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>lite_pae__Is_Production__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>lite_pae__Payment_Account__c</object>
        <outputAssignments>
            <assignToReference>paymentRecordId</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <screens>
        <name>Checkout</name>
        <label>Checkout</label>
        <locationX>176</locationX>
        <locationY>278</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>customer</name>
            <extensionName>lite_pae:customerProfile</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>fieldNameToMapCustomerId</name>
                <value>
                    <stringValue>Stripe_Customer_Id__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>paymentAccountId</name>
                <value>
                    <elementReference>paymentRecordId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordIdOfCustomerId</name>
                <value>
                    <elementReference>RecordId</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Payment_Record</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>paymentRecordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>Id of current record (should of corresponding Stripe field on it to map customer id to). See the LWC component added in Screen for more information.</description>
        <name>RecordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
